.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

.calculator-container {
    /*margin: 0 auto;*/
    width: 296px;
    /*border: 2px solid red;*/
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-gap: 2px;*/
    /*border: 2px solid red;*/
    width: 220px;
    /*margin: 0 auto;*/
}
